// onlineIconfont="http://at.alicdn.com/t/font_1128139_bsy9zxptdp.css"
// if onlineIconfont is defined //online
// 	@import url(onlineIconfont)
// else
// 	//font_1128139_fezlys2sgmh.css //unupdata
// 	@import "./iconfount/iconfont.css"
.iconfont
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &[class^="iconfont icon-"]:empty:after
    font-size: 24px;
    content:"O"
