/*
 * main-index.styl
*/
onlineIconfont="https://at.alicdn.com/t/font_1128139_ure0ou32yw.css"
if onlineIconfont is defined //online
	@import url(onlineIconfont)
else
	//font_1128139_fezlys2sgmh.css //unupdata
	@import "./iconfount/iconfont.css"
